body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
#nav {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    justify-content: flex-end;
}
#nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
#nav a:hover {
    text-decoration: underline;
}
#container img {
    /* max-width: 100%; */
    width: 300px;
    height: auto;
}
#container {
    display: flex;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}
.grid-item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}